* {
    margin: 0;
    box-sizing: border-box; /* padding and border incleded in the width/height */
    overflow-y: hidden;
    overflow-x: hidden;
}

:root {
    --grid-size: 5;
    --cell-font-size: 16px;
}

html,
body {
    touch-action: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    appearance: none;
    padding: 5px 25px 5px 5px;
    background: url('../img/dr_down_16.png') no-repeat right;
    background-position-x: calc(100% - 5px);
}

select::-ms-expand {
    display: none;
}

#app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.schulte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
}

.cell {
    display: flex;

    user-select: none;

    justify-content: center; /* align horizontal */
    align-items: center;

    padding: 0;

    border: 1px solid #ccc;
    cursor: default;
    color: black;
    background: white;

    font-size: var(--cell-font-size);
    font-weight: bold;
}

.cell span.underline {
    text-decoration: underline;
}

.cell.hovered-cell {
    color: black;
    /*background: rgb(249, 246, 243);*/
    border: 1px solid #555;
}

.cell.traced-cell {
    color: black;
    background: #b5fcac;
}

.cell.correct-cell {
    color: black;
    background: #b5fcac;
}

.cell.wrong-cell {
    color: black;
    background: #f4adad;
}

.cell.react-cell {
    color: transparent;
    background: black;
}

.cell.left-click {
    background: #99f;
}

.cell.right-click {
    background: #fa7;
}

.cell.transition {
    transition: background 800ms;
}

.cell span.rotate-90 {
    transform: rotate(90deg);
}

.cell span.rotate-180 {
    transform: rotate(180deg);
}

.cell span.rotate-270 {
    transform: rotate(270deg);
}

.cell span.spin-right {
    animation: spin-right 2s infinite linear;
}

@keyframes spin-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.cell span.spin-left {
    animation: spin-left 2s infinite linear;
}

@keyframes spin-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}
@-webkit-keyframes spin-left {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-359deg);
    }
}

.color-num {
    padding: 3px 10px;
    margin-right: 2px;
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 1.1em;
    font-weight: bold;
}

#settings-btn {
    position: fixed;
    right: 0;
    top: 0;
    width: 5vmin;
    height: 5vmin;
    padding: 0;
    background: transparent url('../img/settings_48.png') no-repeat;
    background-size: 5vmin 5vmin;
    opacity: 0.1;
    border: none;
    outline-style: none;
    transition: opacity 500ms;
}

#settings-btn:hover {
    opacity: 1;
}

.hover-text-bold:hover {
    font-weight: bold;
}

.mouse-map {
    background: white;
    border: 2px solid #ccc;
}

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background: url('../img/green_dot.png');
}

.round-display {
    position: fixed;
    top: 2px;
    font-size: 2em;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

.schulte.spin-speed1 {
    animation: spin 4s linear infinite;
}

.schulte.spin-speed2 {
    animation: spin 3s linear infinite;
}

.schulte.spin-speed3 {
    animation: spin 2s linear infinite;
}

.schulte.spin-speed4 {
    animation: spinrev 4s linear infinite;
}

.schulte.spin-speed5 {
    animation: spinrev 3s linear infinite;
}

.schulte.spin-speed6 {
    animation: spinrev 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spinrev {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
